*{
    margin: 0;
    padding: 0;
}
body{
    /*justify-content: center;
    align-items: center;
    display: flex;*/
    background-color: #02393f;
}
h2{
    font-size: 30px;
    font-family: cursive;
    color: rgba(227, 53, 25, 0.83);
}

#allUsers {
    width: 100%;
    background-color: #02393f;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    align-content: space-around;
}

.userDiv{
    width: 33%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #045a62;
    justify-content: space-evenly;
    border-radius: 10%;
    color: #dde8ea;
    margin: 1%;
}

button{
    background-color: pink;
    padding: 1%;
    border-radius: 15%;
}

.textPoint{
    color: rgb(197, 181, 13);
}