*{
    margin: 0;
    padding: 0;

}

body{
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #02393f;
}

#aboutPost{
    width: 90vw;
    height: 90vh;
    background-color: #02393f;

}
ul{
    width: 90vw;
    height: 20vh;
    list-style-type: none;
}
ul li{
    display: inline;
    margin-right: 3%;
}