*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #02393f;
}

#aboutPost{
    width: 90vw;
    height: 90vh;
    background-color: #02393f;

}
ul{
    display: contents;
    list-style-type: none;
    margin: 9%;
}
ul li{
    margin: 1% 0;
    color: #98ffd0;


}
#comments{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
}
h2{
    color: #e71212;
    display: block;
}
#comments div{
    background-color: #045a62;
    margin: 1%;
    color: #98ffd0;
    padding: 4%;
    border-radius: 10%;
}

.textPoint{
    color: rgb(197, 181, 13);
}