*{
    margin: 0;
    padding: 0;
}

body{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #02393f;
}
ul{
    width: 90vw;
    list-style-type: none;
}

#aboutUser{
    width: 90vw;
    height: 90vh;
    background-color: #02393f;
    color: #98ffd0;
    font-family: cursive;

}
li{
    display: inline;
    margin-right: 3%;
}
ul h2{
    color: #e71212;
}

.hide{
    display: none;
}

#postsTitle{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

#postsTitle div{
    background-color: #045a62;
    margin: 1%;
    border-radius: 10%;
    text-align: center;
}
a{
    color: #98ffd0;
    text-decoration: none;
}

#forHide > h2{
    color: #e71212;
}


#userPosts{
    margin: 3% 5%;
    width: 90%;
    padding: 1%;
    font-family: cursive;
    font-size: 20px;
    background-color: #1d1d5e;

    color: #fff;
    border:none;
    border-radius:10px;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0);
}

#userPosts:active {
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
    width: 89%;
    transition: 0.1ms;
}

#userPosts:hover {
    background-color: #1f1f46;
    transform: translate3d(0, 2px, 0);
    transition: 0.6ms;
}

.textPoint{
    color: rgb(197, 181, 13);
}
