*{
    margin: 0;
    padding: 0;
}

body{
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#aboutUser{
    width: 90vw;
    height: 90vh;
    background-color: darkorange;
    border-radius: 6%;
}