*{
    margin: 0;
    padding: 0;
}

body{
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #02393f;
}
ul{
    width: 90vw;
    list-style-type: none;
}

#aboutUser{
    width: 90vw;
    height: 90vh;
    background-color: #02393f;
    color: #98ffd0;
    font-family: cursive;

}
li{
    display: inline;
    margin-right: 3%;
}
ul h2{
    color: #e71212;
}
