*{
    margin: 0;
    padding: 0;
}

body{
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #02393f;
}
ul{
    width: 90vw;
    list-style-type: none;
}

#aboutUser{
    width: 90vw;
    height: 90vh;
    background-color: #02393f;
    color: #98ffd0;
    font-family: cursive;

}
li{
    display: inline;
    margin-right: 3%;
}
ul h2{
    color: #e71212;
}

.hide{
    display: none;
}

#postsTitle{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

#postsTitle div{
    background-color: #045a62;
    margin: 1%;
    border-radius: 10%;
    text-align: center;
}
a{
    color: #98ffd0;
    text-decoration: none;
}

#forHide > h2{
    color: #e71212;


}

#forHide{
    margin-top: 5vw;

}

#userPosts{
    background-color: pink;
    border-radius: 15%;
    padding: 1%;
    position: absolute;
    top: 90%;
    left: 45%;
}
